@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
           <a class="btn-light" href="/worker">Рабочие</a>.
           <a class="btn-light" href="/company">Компании</a>.
    
    </div>
